<!DOCTYPE HTML>
<html lang="zh-Hant-TW">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width">
	<title>{{ renderData.title or title or metadata.title }}</title>
	<meta name="description" content="{{ renderData.description or description or metadata.description }}" />
</head>
<body>
	{{ content | safe }}
</body>
</html>
