---
layout: layouts/base.njk
style: /styles/post.css
description: Post by CHANG Chen-Heng
---
<link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
<main>
	<article>
		<header>
			<h1>{{ title }}</h1>
		</header>
		<footer>
			<time>{{ date.toISOString().split('T')[0] }}</time>
		</footer>
		{{ content | safe }}
	</article>
</main>
<footer>
	<p>time will log</p>
</footer>
